<div class="container">
  <h1 class="text-center text-white mb-3">Horizon Zero Dawn Machines</h1>
  <table class="table table-dark table-hover table-bordered">
    <tr class="text-center text-white">
      <th>
        <span (click)="newMach()" class="text-success">&#10010;</span>
      </th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Weakness</th>
    </tr>
    @for (mach of machines; track $index) {
      <tr class="text-center text-white">
        <td>
          <span (click)="modifyMach(mach)">&#9998;</span>
          <span (click)="deleteMach(mach)" class="text-danger">&#10008;</span>
        </td>
        <td>{{mach.name}}</td>
        <td>{{mach.type}}</td>
        <td class="h6">{{mach.description}}</td>
        <td>
          <ul>
            @for (weak of mach.attributes.weaknesses; track $index) {
              <li class="text-white">{{weak}}</li>
            }
          </ul>
        </td>
      </tr>
    }
  </table>
</div>

<app-detail [model]="modify" (saved)="saveModify($event)"></app-detail>
<app-detail [model]="new" (saved)="saveNew($event)"></app-detail>

